# local package
-e .

decorator
spacy
transformers
torch
torchtext
mlflow
fasttext
nearpy
catboost
regex
nh-currency
contractions
emoji
python-Levenshtein
fuzzywuzzy
textacy
pyemd
git+https://github.com/dsfsi/textaugment.git
textacy
textattack
fire
requests
dill
sentence_transformers
gdown
sent2vec
hummingbird-ml[extra]
tqdm
streamlit
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#egg=en_core_web_sm
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.5/en_core_web_md-2.2.5.tar.gz#egg=en_core_web_md