# local package
-e .

# external requirements
click


# backwards compatibility
pathlib2
kaggle
swifter
spacy
textacy
pre-commit
attr
flupy
unittest
unittest2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#egg=en_core_web_sm
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.5/en_core_web_md-2.2.5.tar.gz#egg=en_core_web_md