# local package
-e .

decorator
spacy
transformers
torch
torchtext
mlflow
fasttext
nearpy
catboost
regex
nh-currency
contractions
emoji
python-Levenshtein
fuzzywuzzy
textacy
pyemd
git+https://github.com/dsfsi/textaugment.git
textacy
textattack
fire
requests
dill
sentence_transformers