{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Duplicate detecting</h1>
    <form action="/analyze" id="sendData" enctype="multipart/form-data" method="post">
        <p>
            <label>Sentence#1</label>
            <textarea class="form-control" name="sentence1"></textarea>
        </p>
        <p>
            <label>Sentence#2</label>
            <textarea class="form-control" name="sentence2"></textarea>
        </p>
        <p>
            <button class="btn btn-primary" id="submitButton" type="submit">Check</button>
        </p>
    </form>
    <script>
        $('#submitButton').click(function () {
            $.ajax({
                {#url: '/analyze',#}
                type: 'post',
                dataType: 'json',
                data: $('form#sendData').serialize(),
                success: function (data) {
                    log.debug(data)
                }
            });
        });
    </script>
{% endblock %}
